@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotateY(0deg);
  } to {
    transform: rotateY(360deg);
  }
}

.animate-vertical {
  animation: spin 2s linear infinite;
}